/* Darkmode https://web.dev/prefers-color-scheme/ */
:root {
  --background: #fff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(34, 39, 54, 1);
    --foreground: #fff;
  }
}

input#darkmode {
  float: right;
  visibility: hidden;
}

input#darkmode:checked {
  --color-body: #e7e8eb;
  --bg-body: #2d2d2d;
  --bg-switch: rgba(240, 246, 252, 0.15);
  --content-switch-after: " Light Mode ☀️";
}

#switch {
  cursor: pointer;
  user-select: none;
  background: var(--bg-switch, rgba(27, 31, 35, 0.05));
  padding: 0.5rem;
  border-radius: 6px;
}

#switch::after {
  content: var(--content-switch-after, " Dark Mode 🌙");
}

/* End of darkmode switch */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /* background-color: rgba(34, 39, 54, 1); */
  background-color: var(--background);
  overflow-x: hidden;
}

.setting > label {
  margin-right: 10px;
}

.rocket-history {
  text-align: center;
}

.country,
.rocket {
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.country,
.rocket,
.rocket-info-box > img {
  border-radius: 50px;
}

.country,
.rocket {
  margin: 2rem;
}

.rockets {
  display: flex;
  justify-content: center;
}

.rocket {
  max-width: fit-content;
}

.rocket-info-box {
  display: flex;
  justify-content: center;
}

.rocket-info-box > img {
  max-width: 15rem;
}

.spacer {
  background-color: var(--background);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  height: 100px;
}
